%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 24px;
  margin: 4px;
  color: white;
}

.btn-success {
  @extend %btn;
  background-color: $succes;
  border-color: $succes;
  &:hover {
    border-color: $succes-hover;
    background-color: $succes-hover;
  }
}
